@model IEnumerable<ASPNetCoreAjax.Models.Transaction>
@{

}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    <a class="btn btn-success" onclick="return showModalDialog('@Url.Action("AddOrEdit",new {Id=item.TransactionId})','Update transaction')" asp-action="AddOrEdit" asp-route-id="@item.TransactionId">Edit</a>
                    <form class="d-inline" asp-action="Delete" asp-route-id="@item.TransactionId" onsubmit="return submitForm(this)">
                        @Html.AntiForgeryToken()
                        <input class="btn btn-danger" type="submit" asp-action="Delete" asp-route-id="@item.TransactionId" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
